body {
  margin: 0%;
  padding: 0%;
}

.header {
  height: 100%;
  width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 70px, repeat(1, 1fr);
  width: 100%;
  height: 100%;
  margin: auto;
  gap: 10px;
  overflow: hidden;
  align-items: center;
  justify-items: center;
}

.header__nav {
  width: 100%;
  height: 60px;
  grid-column: 1/-1;
  background-color: black;
  text-align: center;
}

.header__nav-items {
  display: inline-block;
  margin: 10px 30px;
}

.items {
  color: white;
  margin-right: 10px;
  font-size: 20px;
}

.header__nav a {
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.header__container-title {
  grid-column: 1/-1;
  font-size: 20px;
}
.header__container-title h1{
  border-bottom: 2px solid blue;
}
.container__main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(1, 1fr);
  width: 100%;
  height: 100%;
  margin: auto;
  gap: 10px;
  overflow: hidden;
  align-items: center;
  justify-items: center;
}
.container__main-text{
  grid-column: 1/7;
}
.text{
  margin: 40px;
  font-family: cursive,Arial, Helvetica, sans-serif;
}
.text p{
  font-size: 30px;
  color: black;
}
.container__main-video{
  grid-column: 7/11;
  width: 90%;
  padding: 20px;
}
.video{
  height: 90%;
}
